.char-component {
  display: inline-block;
  padding: 8px;
  text-align: center;
  margin: 6px;
  border: 1px solid #c0c0c0;
  color: #333;
  width: 1.5rem;
  height: auto;
}

.char-component:hover {
  cursor: pointer;
  background-color: white;
}
